<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_Home</servlet-name>
        <servlet-class>Servlet.Citizen_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_SearchTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_SearchTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_SendTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_SendTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_OpenTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_OpenTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_UnfollowTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_UnfollowTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_FollowTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_FollowTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_AddInfo</servlet-name>
        <servlet-class>Servlet.Citizen_AddInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ViewPendingFiles</servlet-name>
        <servlet-class>Servlet.Citizen_ViewPendingFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ApproveContributions</servlet-name>
        <servlet-class>Servlet.Citizen_ApproveContributions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_RejectContributions</servlet-name>
        <servlet-class>Servlet.Citizen_RejectContributions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_NotificationActivity</servlet-name>
        <servlet-class>Servlet.Citizen_NotificationActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_CommentOnTestimonial</servlet-name>
        <servlet-class>Servlet.Citizen_CommentOnTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ReplyToTestimonial</servlet-name>
        <servlet-class>Servlet.GS_ReplyToTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_Home</servlet-name>
        <servlet-class>Servlet.GS_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewTestimonials</servlet-name>
        <servlet-class>Servlet.GS_ViewTestimonials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewTestimonialDetails</servlet-name>
        <servlet-class>Servlet.GS_ViewTestimonialDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_CreateProposal</servlet-name>
        <servlet-class>Servlet.GS_CreateProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_GS_ViewTestimonialDetails</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_GS_ViewTestimonialDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_GS_SelectMainTestimonial</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_GS_SelectMainTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_Citizen_SearchTestimonialViaMap</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_Citizen_SearchTestimonialViaMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_SubmitProposal</servlet-name>
        <servlet-class>Servlet.GS_SubmitProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_GS_GenerateProjectID</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_GS_GenerateProjectID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_Home</servlet-name>
        <servlet-class>Servlet.OCPD_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_NotificationActivity</servlet-name>
        <servlet-class>Servlet.OCPD_NotificationActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_NotificationActivity</servlet-name>
        <servlet-class>Servlet.GS_NotificationActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_ViewPlanningDocument</servlet-name>
        <servlet-class>Servlet.OCPD_ViewPlanningDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_UploadCDPCLUP</servlet-name>
        <servlet-class>Servlet.OCPD_UploadCDPCLUP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_DisplayCDPCLUP</servlet-name>
        <servlet-class>Servlet.GS_DisplayCDPCLUP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_OCPD_confirmschedule</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_OCPD_confirmschedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_OCPD_UpdateMeetingSched</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_OCPD_UpdateMeetingSched</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_Home</servlet-name>
        <servlet-class>Servlet.BAC_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewProject</servlet-name>
        <servlet-class>Servlet.BAC_ViewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_UploadInvitationToBid</servlet-name>
        <servlet-class>Servlet.BAC_UploadInvitationToBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_gettestimonial</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_gettestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_getProjectFiles</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_getProjectFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_NotificationActivity</servlet-name>
        <servlet-class>Servlet.BAC_NotificationActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_Home</servlet-name>
        <servlet-class>Servlet.Contractor_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ViewProjectList</servlet-name>
        <servlet-class>Servlet.Contractor_ViewProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_HandleInvitations</servlet-name>
        <servlet-class>Servlet.Contractor_HandleInvitations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ViewProject</servlet-name>
        <servlet-class>Servlet.Contractor_ViewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_UploadDocPage</servlet-name>
        <servlet-class>Servlet.Contractor_UploadDocPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_Contractor_CheckPage</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_Contractor_CheckPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_UploadBiddingProposal</servlet-name>
        <servlet-class>Servlet.Contractor_UploadBiddingProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_UploadContractorDocuments</servlet-name>
        <servlet-class>Servlet.Contractor_UploadContractorDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ViewEligibilityDocuments</servlet-name>
        <servlet-class>Servlet.Contractor_ViewEligibilityDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_Contractor_geteligibilityfile</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_Contractor_geteligibilityfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ReUpload</servlet-name>
        <servlet-class>Servlet.Contractor_ReUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewProjectInvitation</servlet-name>
        <servlet-class>Servlet.BAC_ViewProjectInvitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewRespondents</servlet-name>
        <servlet-class>Servlet.BAC_ViewRespondents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_SetFailBid</servlet-name>
        <servlet-class>Servlet.BAC_SetFailBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_generateidlecontractors</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_generateidlecontractors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_SendBidInvitation</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_SendBidInvitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewContractorProfile</servlet-name>
        <servlet-class>Servlet.BAC_ViewContractorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewEligibilityDocuments</servlet-name>
        <servlet-class>Servlet.BAC_ViewEligibilityDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_checkalldocuments</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_checkalldocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_BAC_approvedocument</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_BAC_approvedocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_HoldContractorDocument</servlet-name>
        <servlet-class>Servlet.BAC_HoldContractorDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ConfirmContractor</servlet-name>
        <servlet-class>Servlet.BAC_ConfirmContractor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_PlaceAward</servlet-name>
        <servlet-class>Servlet.BAC_PlaceAward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_UploadNotices</servlet-name>
        <servlet-class>Servlet.BAC_UploadNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewContractorList</servlet-name>
        <servlet-class>Servlet.BAC_ViewContractorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BAC_ViewBidNotices</servlet-name>
        <servlet-class>Servlet.BAC_ViewBidNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ViewBidNotices</servlet-name>
        <servlet-class>Servlet.Contractor_ViewBidNotices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ActivityandNotification</servlet-name>
        <servlet-class>Servlet.Contractor_ActivityandNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewProjectDetails</servlet-name>
        <servlet-class>Servlet.GS_ViewProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewProjectList</servlet-name>
        <servlet-class>Servlet.GS_ViewProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_ViewProjectList</servlet-name>
        <servlet-class>Servlet.OCPD_ViewProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_ViewProjectDetails</servlet-name>
        <servlet-class>Servlet.OCPD_ViewProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_PutOnHold</servlet-name>
        <servlet-class>Servlet.OCPD_PutOnHold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_ApproveProposal</servlet-name>
        <servlet-class>Servlet.OCPD_ApproveProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_CompileProposals</servlet-name>
        <servlet-class>Servlet.OCPD_CompileProposals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAdmin_Home</servlet-name>
        <servlet-class>Servlet.CityAdmin_Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAdmin_NotificationActivity</servlet-name>
        <servlet-class>Servlet.CityAdmin_NotificationActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAdmin_ViewTestimonialDetails</servlet-name>
        <servlet-class>Servlet.CityAdmin_ViewTestimonialDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAdmin_ReplyToTestimonial</servlet-name>
        <servlet-class>Servlet.CityAdmin_ReplyToTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityAdmin_RejectTestimonial</servlet-name>
        <servlet-class>Servlet.CityAdmin_RejectTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCPD_SetForBidding</servlet-name>
        <servlet-class>Servlet.OCPD_SetForBidding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_SendComment</servlet-name>
        <servlet-class>Servlet.Citizen_SendComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_SubmitReport</servlet-name>
        <servlet-class>Servlet.Citizen_SubmitReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ViewSubmitReportForm</servlet-name>
        <servlet-class>Servlet.Citizen_ViewSubmitReportForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_GetEvaluation</servlet-name>
        <servlet-class>Servlet.Contractor_GetEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_Profile</servlet-name>
        <servlet-class>Servlet.Contractor_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_OpenCitizenReport</servlet-name>
        <servlet-class>Servlet.GS_OpenCitizenReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewCitizenReportList</servlet-name>
        <servlet-class>Servlet.GS_ViewCitizenReportList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewImplementedProjects</servlet-name>
        <servlet-class>Servlet.GS_ViewImplementedProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ProgressReportPage</servlet-name>
        <servlet-class>Servlet.Contractor_ProgressReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_SubmitProgressReport</servlet-name>
        <servlet-class>Servlet.Contractor_SubmitProgressReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_OpenInspectionReport</servlet-name>
        <servlet-class>Servlet.GS_OpenInspectionReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewInspectionList</servlet-name>
        <servlet-class>Servlet.GS_ViewInspectionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_GetAgenda</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_GetAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_OCPD_UpdateMeeting</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_OCPD_UpdateMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAX_UpdateMeeting</servlet-name>
        <servlet-class>Servlet.AjaxServlet.AJAX_UpdateMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ProjectsImplemented</servlet-name>
        <servlet-class>Servlet.Citizen_ProjectsImplemented</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ViewProjectDetails</servlet-name>
        <servlet-class>Servlet.Citizen_ViewProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_GetProgressReport</servlet-name>
        <servlet-class>Servlet.Contractor_GetProgressReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_OpenMessage</servlet-name>
        <servlet-class>Servlet.Contractor_OpenMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_RequestForChange</servlet-name>
        <servlet-class>Servlet.Contractor_RequestForChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contractor_ViewProjectTimeline</servlet-name>
        <servlet-class>Servlet.Contractor_ViewProjectTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_GenerateAccomplishmentReport</servlet-name>
        <servlet-class>Servlet.GS_GenerateAccomplishmentReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_GetWorkItems</servlet-name>
        <servlet-class>Servlet.GS_GetWorkItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_SubmitInspectionEntry</servlet-name>
        <servlet-class>Servlet.GS_SubmitInspectionEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_TimelineUpdate</servlet-name>
        <servlet-class>Servlet.GS_TimelineUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewProgressReports</servlet-name>
        <servlet-class>Servlet.GS_ViewProgressReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GS_ViewProjectTimeline</servlet-name>
        <servlet-class>Servlet.GS_ViewProjectTimeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_CheckFeedback</servlet-name>
        <servlet-class>Servlet.Citizen_CheckFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_SubmitFeedback</servlet-name>
        <servlet-class>Servlet.Citizen_SubmitFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_Home</servlet-name>
        <url-pattern>/Citizen_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_SearchTestimonial</servlet-name>
        <url-pattern>/Citizen_SearchTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_SendTestimonial</servlet-name>
        <url-pattern>/Citizen_SendTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_OpenTestimonial</servlet-name>
        <url-pattern>/Citizen_OpenTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_UnfollowTestimonial</servlet-name>
        <url-pattern>/Citizen_UnfollowTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_FollowTestimonial</servlet-name>
        <url-pattern>/Citizen_FollowTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_AddInfo</servlet-name>
        <url-pattern>/Citizen_AddInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ViewPendingFiles</servlet-name>
        <url-pattern>/Citizen_ViewPendingFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ApproveContributions</servlet-name>
        <url-pattern>/Citizen_ApproveContributions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_RejectContributions</servlet-name>
        <url-pattern>/Citizen_RejectContributions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_NotificationActivity</servlet-name>
        <url-pattern>/Citizen_NotificationActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_Home</servlet-name>
        <url-pattern>/GS_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewTestimonials</servlet-name>
        <url-pattern>/GS_ViewTestimonials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewTestimonialDetails</servlet-name>
        <url-pattern>/GS_ViewTestimonialDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_CreateProposal</servlet-name>
        <url-pattern>/GS_CreateProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_GS_ViewTestimonialDetails</servlet-name>
        <url-pattern>/AJAX_GS_ViewTestimonialDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_GS_SelectMainTestimonial</servlet-name>
        <url-pattern>/AJAX_GS_SelectMainTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_SubmitProposal</servlet-name>
        <url-pattern>/GS_SubmitProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_GS_GenerateProjectID</servlet-name>
        <url-pattern>/AJAX_GS_GenerateProjectID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_Home</servlet-name>
        <url-pattern>/OCPD_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_NotificationActivity</servlet-name>
        <url-pattern>/OCPD_NotificationActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_NotificationActivity</servlet-name>
        <url-pattern>/GS_NotificationActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_ViewPlanningDocument</servlet-name>
        <url-pattern>/OCPD_ViewPlanningDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_UploadCDPCLUP</servlet-name>
        <url-pattern>/OCPD_UploadCDPCLUP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_DisplayCDPCLUP</servlet-name>
        <url-pattern>/GS_DisplayCDPCLUP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_OCPD_confirmschedule</servlet-name>
        <url-pattern>/AJAX_OCPD_confirmschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_OCPD_UpdateMeetingSched</servlet-name>
        <url-pattern>/AJAX_OCPD_UpdateMeetingSched</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_Home</servlet-name>
        <url-pattern>/BAC_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewProject</servlet-name>
        <url-pattern>/BAC_ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_UploadInvitationToBid</servlet-name>
        <url-pattern>/BAC_UploadInvitationToBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_CommentOnTestimonial</servlet-name>
        <url-pattern>/Citizen_CommentOnTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ReplyToTestimonial</servlet-name>
        <url-pattern>/GS_ReplyToTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_gettestimonial</servlet-name>
        <url-pattern>/AJAX_BAC_gettestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_getProjectFiles</servlet-name>
        <url-pattern>/AJAX_BAC_getProjectFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_NotificationActivity</servlet-name>
        <url-pattern>/BAC_NotificationActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_Home</servlet-name>
        <url-pattern>/Contractor_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ViewProjectList</servlet-name>
        <url-pattern>/Contractor_ViewProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_HandleInvitations</servlet-name>
        <url-pattern>/Contractor_HandleInvitations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ViewProject</servlet-name>
        <url-pattern>/Contractor_ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_UploadDocPage</servlet-name>
        <url-pattern>/Contractor_UploadDocPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_Contractor_CheckPage</servlet-name>
        <url-pattern>/AJAX_Contractor_CheckPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_UploadBiddingProposal</servlet-name>
        <url-pattern>/Contractor_UploadBiddingProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_UploadContractorDocuments</servlet-name>
        <url-pattern>/Contractor_UploadContractorDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ViewEligibilityDocuments</servlet-name>
        <url-pattern>/Contractor_ViewEligibilityDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_Contractor_geteligibilityfile</servlet-name>
        <url-pattern>/AJAX_Contractor_geteligibilityfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ReUpload</servlet-name>
        <url-pattern>/Contractor_ReUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewProjectInvitation</servlet-name>
        <url-pattern>/BAC_ViewProjectInvitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewRespondents</servlet-name>
        <url-pattern>/BAC_ViewRespondents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_SetFailBid</servlet-name>
        <url-pattern>/BAC_SetFailBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_generateidlecontractors</servlet-name>
        <url-pattern>/AJAX_BAC_generateidlecontractors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_SendBidInvitation</servlet-name>
        <url-pattern>/AJAX_BAC_SendBidInvitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewContractorProfile</servlet-name>
        <url-pattern>/BAC_ViewContractorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewEligibilityDocuments</servlet-name>
        <url-pattern>/BAC_ViewEligibilityDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_checkalldocuments</servlet-name>
        <url-pattern>/AJAX_BAC_checkalldocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_BAC_approvedocument</servlet-name>
        <url-pattern>/AJAX_BAC_approvedocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_HoldContractorDocument</servlet-name>
        <url-pattern>/BAC_HoldContractorDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ConfirmContractor</servlet-name>
        <url-pattern>/BAC_ConfirmContractor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_PlaceAward</servlet-name>
        <url-pattern>/BAC_PlaceAward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_UploadNotices</servlet-name>
        <url-pattern>/BAC_UploadNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewContractorList</servlet-name>
        <url-pattern>/BAC_ViewContractorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BAC_ViewBidNotices</servlet-name>
        <url-pattern>/BAC_ViewBidNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ViewBidNotices</servlet-name>
        <url-pattern>/Contractor_ViewBidNotices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ActivityandNotification</servlet-name>
        <url-pattern>/Contractor_ActivityandNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewProjectDetails</servlet-name>
        <url-pattern>/GS_ViewProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewProjectList</servlet-name>
        <url-pattern>/GS_ViewProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_ViewProjectList</servlet-name>
        <url-pattern>/OCPD_ViewProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_ViewProjectDetails</servlet-name>
        <url-pattern>/OCPD_ViewProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_PutOnHold</servlet-name>
        <url-pattern>/OCPD_PutOnHold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_ApproveProposal</servlet-name>
        <url-pattern>/OCPD_ApproveProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_CompileProposals</servlet-name>
        <url-pattern>/OCPD_CompileProposals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAdmin_Home</servlet-name>
        <url-pattern>/CityAdmin_Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAdmin_NotificationActivity</servlet-name>
        <url-pattern>/CityAdmin_NotificationActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAdmin_ViewTestimonialDetails</servlet-name>
        <url-pattern>/CityAdmin_ViewTestimonialDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAdmin_ReplyToTestimonial</servlet-name>
        <url-pattern>/CityAdmin_ReplyToTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityAdmin_RejectTestimonial</servlet-name>
        <url-pattern>/CityAdmin_RejectTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_Citizen_SearchTestimonialViaMap</servlet-name>
        <url-pattern>/AJAX_Citizen_SearchTestimonialViaMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCPD_SetForBidding</servlet-name>
        <url-pattern>/OCPD_SetForBidding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_SendComment</servlet-name>
        <url-pattern>/Citizen_SendComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_SubmitReport</servlet-name>
        <url-pattern>/Citizen_SubmitReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ViewSubmitReportForm</servlet-name>
        <url-pattern>/Citizen_ViewSubmitReportForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_GetEvaluation</servlet-name>
        <url-pattern>/Contractor_GetEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_Profile</servlet-name>
        <url-pattern>/Contractor_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_OpenCitizenReport</servlet-name>
        <url-pattern>/GS_OpenCitizenReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewCitizenReportList</servlet-name>
        <url-pattern>/GS_ViewCitizenReportList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewImplementedProjects</servlet-name>
        <url-pattern>/GS_ViewImplementedProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ProgressReportPage</servlet-name>
        <url-pattern>/Contractor_ProgressReportPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_SubmitProgressReport</servlet-name>
        <url-pattern>/Contractor_SubmitProgressReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_OpenInspectionReport</servlet-name>
        <url-pattern>/GS_OpenInspectionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewInspectionList</servlet-name>
        <url-pattern>/GS_ViewInspectionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_GetAgenda</servlet-name>
        <url-pattern>/AJAX_GetAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_OCPD_UpdateMeeting</servlet-name>
        <url-pattern>/AJAX_OCPD_UpdateMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAX_UpdateMeeting</servlet-name>
        <url-pattern>/AJAX_UpdateMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ProjectsImplemented</servlet-name>
        <url-pattern>/Citizen_ProjectsImplemented</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ViewProjectDetails</servlet-name>
        <url-pattern>/Citizen_ViewProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_GetProgressReport</servlet-name>
        <url-pattern>/Contractor_GetProgressReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_OpenMessage</servlet-name>
        <url-pattern>/Contractor_OpenMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_RequestForChange</servlet-name>
        <url-pattern>/Contractor_RequestForChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contractor_ViewProjectTimeline</servlet-name>
        <url-pattern>/Contractor_ViewProjectTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_GenerateAccomplishmentReport</servlet-name>
        <url-pattern>/GS_GenerateAccomplishmentReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_GetWorkItems</servlet-name>
        <url-pattern>/GS_GetWorkItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_SubmitInspectionEntry</servlet-name>
        <url-pattern>/GS_SubmitInspectionEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_TimelineUpdate</servlet-name>
        <url-pattern>/GS_TimelineUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewProgressReports</servlet-name>
        <url-pattern>/GS_ViewProgressReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GS_ViewProjectTimeline</servlet-name>
        <url-pattern>/GS_ViewProjectTimeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_CheckFeedback</servlet-name>
        <url-pattern>/Citizen_CheckFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_SubmitFeedback</servlet-name>
        <url-pattern>/Citizen_SubmitFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
