#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.planninglegend {
    color:#ff3399;
}
.biddinglegend {
    color:#00cc00;
}
.implementationlegend {
    color:#8080ff;
}
#agendaTable td{
    padding: 3px;
}

#mainTest .id{
    width: 3%;
}

#mainTest .title{
    width: 15%;
}

#mainTest .date{
    width: 13%;
}

#mainTest .message{
    width: 30%;
}

#mainTest .uploader{
    width: 15%;
}

#mainTest .buttons{
    width: 7%;
}

#mainTest .btn{
    width: 100%;
}

#powTable .viewMaterials{
    border: none;
}

#powTable .worksSelect{
    text-align: left;
    margin-top: -11px;
    margin-bottom: -11px;    
    width: 100%;
}

#totalTR {
    background: #ccebff;
}

#compMain .compInput{
    width: 100%;
    height: 100%;
    border: none;
}

#taskTable .inactive{
    border: none;
    background: transparent;
    float:right;
    cursor: default;
}

#taskTable td{
    padding: 0px;
}

#taskTable .dates{
    display: none;
}